/*!
 * Start Bootstrap - Thumbnail Gallery (https://startbootstrap.com/template-overviews/thumbnail-gallery)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-thumbnail-gallery/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

::selection {
  background-color: #fff;
}

::-moz-selection {
  background-color: #fff;
}

body {
  background :#fff;
}

.container {
  display: -webkit-flex;
  display: flex;
  height: 125%;
}

#logbox {
  padding: 10px;
  margin: auto;
  width: 290px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(100, 63.5, 0, 0.25);
}

h1 {
  text-align: center;
  font-size: 175%;
  color: #343a40;
  font-weight: 300;
}

h1, input {
  font-family: "Open Sans", Helvetica, sans-serif;
}

.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}
.input:focus {
  outline: none;
  border-bottom-color: #ffa200 !important;
}
.input:hover {
  border-bottom-color: #dcdcdc;
}
.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
  position: relative;
  text-align: center;
  font-size: 150%;
  width: 85%;
  height: 40px;
  display: block;
  margin: 30px auto 30px;
  color: white;
  background-color: #ffa200;
  border: none;
  -webkit-box-shadow: 0 5px 0 #ff7e00;
  -moz-box-shadow: 0 5px 0 #ff7e00;
  box-shadow: 0 5px 0 #ff7e00;
}
.inputButton:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 #ff7e00;
  -moz-box-shadow: 0 3px 0 #ff7e00;
  box-shadow: 0 3px 0 #ff7e00;
}
.inputButton:active {
  top: 5px;
  box-shadow: none;
}
.inputButton:focus {
  outline: none;
}



